<h3>Danh sách người dùng:</h3>
<ul>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Tên</th>
            <th>Giới tính</th>
            <th>Hành động</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of userLists; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ user.name }}</td>
            <td [ngStyle]="{'color': getGenderColor(user.gender)}">{{ user.gender }}</td>
            <td>
                <button type="button" class="btn btn-warning btn-sm ml-2" (click)="editUser(user.id)">Sửa</button>
                <button type="button" class="btn btn-danger btn-sm ml-2" (click)="deleteUser(user.id)">Xóa</button>
            </td>
        </tr>
        </tbody>
    </table>
<!--    <li *ngFor="let user of userLists">-->
<!--           <span [ngStyle]="{'color': getGenderColor(user.gender)}">-->
<!--            {{ user.name }}-->
<!--        </span>-->
<!--        <button type="button" class="btn btn-warning btn-sm ml-2" (click)="editUser(user.id)">Sửa</button>-->
<!--        <button type="button" class="btn btn-danger btn-sm ml-2" (click)="deleteUser(user.id)">Xóa</button>-->
<!--    </li>-->
</ul>
