<form novalidate #form="ngForm"  class="row justify-content-md-center" method="post">
  <div class="col-md-8">
    <div class="form-group row">
      <label for="example-text-input" class="col-md-2 col-form-label">Name:</label>
      <div class="col-md-10">
        <input class="form-control" type="text" id="example-text-input"
               [(ngModel)]="contact.contactName"
               name="contactName" required minlength="3">
      </div>
<!--      <p>-->
<!--        {{ contactName.errors | json}}-->
<!--      </p>-->
<!--      <div class="col alert alert-danger" role="alert"-->
<!--           *ngIf="contactName?.errors?.['required'] && contactName?.touched">-->
<!--        Name is required!-->
<!--      </div>-->
<!--      <div class="col alert alert-danger" role="alert"-->
<!--           *ngIf="contactName?.errors?.['minlength'] && contactName?.touched">-->
<!--        Name is minlength!-->
<!--      </div>-->
    </div>
    <div class="form-group row">
      <label for="example-email-input" class="col-md-2 col-form-label">Email:</label>
      <div class="col-md-10">
        <input class="form-control" type="email" id="example-email-input" ngModel name="email">
      </div>
    </div>
  </div>
</form>
<p>Form value:</p>
<pre>{{ form.value | json }}</pre>
<p>Form contactName errors:</p>
<pre>{{ form.controls['contactName'].errors | json }}</pre>
