    <div class="form-group">
        <label>Skills</label>
        <div *ngFor="let skill of listSkills; let i = index">
            <input type="checkbox" [ngModel]="selectedSkills[skill.id]"
                   (change)="onSkillChange($event)"
                   [value]="skill.id"
                   name="skill{{i}}"> {{ skill.name }}
        </div>
        <div class="col alert alert-danger" role="alert"
             *ngIf="errorMessage" >
            Vui lòng chọn ít nhất một tùy chọn.
        </div>
    </div>
